<!-- Navbar Partial -->
<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top shadow-sm" aria-label="Main navigation">
  <div class="container-fluid">
    <a class="navbar-brand" href="/index.html"><i class="fa-solid fa-building-columns"></i> Knight Frank EA</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="businessDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Business
          </a>
          <ul class="dropdown-menu" aria-labelledby="businessDropdown">
            <li><a class="dropdown-item" href="capabilities.html">Capabilities</a></li>
            <li><a class="dropdown-item" href="deliveryPrograms.html">Programs</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="technologyDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Technology
          </a>
          <ul class="dropdown-menu" aria-labelledby="technologyDropdown">
            <li><a class="dropdown-item" href="systems.html">Systems</a></li>
            <li><a class="dropdown-item" href="platforms.html">Platforms</a></li>
            <li><a class="dropdown-item" href="dataEntities.html">Data Entities</a></li>
            <li><a class="dropdown-item" href="dependencies.html">Dependencies</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="governanceDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Governance
          </a>
          <ul class="dropdown-menu" aria-labelledby="governanceDropdown">
            <li><a class="dropdown-item" href="contracts.html">Contracts</a></li>
            <li><a class="dropdown-item" href="costs.html">Cost</a></li>
            <li><a class="dropdown-item" href="suppliers.html">Suppliers & Resellers</a></li>
          </ul>
        </li>
      </ul>
      <button id="theme-toggle" class="btn btn-outline-secondary ms-2" aria-label="Toggle light/dark mode">
        <i class="fa-solid fa-moon"></i>
      </button>
    </div>
  </div>
</nav>
<script src="/js/theme-toggle.js"></script>
